#carousel {
	/*le carousel qui fait tourner les images*/
	width: 100%;
	height: 100vh;
	position: relative;
}

#carousel .gallery-cell {
	/*les cellules (ie les grandes images)*/
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	display: grid;
	align-items: end;
}

.dark #carousel .gallery-cell {
	filter: grayscale(20%);
}

#carousel .content {
	/*le contenu des cellules : on remet les même marges que la page*/
	height: 90%;
	padding: 0 50px;
	max-width: 1200px;
	width: 100%;
	height: max-content;
	margin: 6% auto;
	color: var(--text-color-light);
	text-shadow: 2px 2px 8px var(--text-color-dark);
}

@media screen and (max-width:800px) {
	/*on réduit les marges si l'écran est trop petit*/
	#carousel {
		height: 70vh;
	}
	#carousel div.content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#carousel ol.flickity-page-dots {
	/*position des points en bas du carousel*/
	position: relative;
	top: -5%;
}

#carousel li.dot {
	/*couleur des points du carousel*/
	background: hsla(0, 0%, 100%, 0.75);
}

#carousel .flickity-prev-next-button {
	background: transparent;
	border: none;
	box-shadow: none;
	transform: none;
}

#carousel .flickity-prev-next-button:hover {
	background: hsla(0, 0%, 100%, 0.75);
}

#carousel .flickity-prev-next-button .arrow {
	fill: hsla(0, 0%, 100%, 0.5);
}

#carousel .flickity-prev-next-button:hover .arrow {
	fill: #333;
}

main {
	/*on enlève l'écart au-dessus du main*/
	padding-top: 0;
}