#carousel {
	/*le carousel qui fait tourner les images*/
	width: 100%;
	height: 100vh;
	position: relative;
}

#carousel div.gallery-cell {
	/*les cellules (ie les grandes images)*/
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#carousel div.content {
	/*le contenu des cellules : on remet les même marges que la page*/
	height: 90%;
	display: flex;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 1200px;
	margin: 0 auto;
	align-items: end;
	color: var(--text-color-light);
}

@media screen and (max-width:800px) {
	/*on réduit les marges si l'écran est trop petit*/
	#carousel div.content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#carousel ol.flickity-page-dots {
	/*position des points en bas du carousel*/
	position: relative;
	top: -5%;
}

#carousel li.dot {
	/*couleur des points du carousel*/
	background: hsla(0, 0%, 100%, 0.75);
}

#carousel .flickity-prev-next-button {
	background: transparent;
}

#carousel .flickity-prev-next-button:hover {
	background: hsla(0, 0%, 100%, 0.75);
}

#carousel .flickity-prev-next-button .arrow {
	fill: hsla(0, 0%, 100%, 0.5);
}

#carousel .flickity-prev-next-button:hover .arrow {
	fill: #333;
}

main {
	/*on enlève l'écart au-dessus du main*/
	padding-top: 0;
}