#carousel {
	width: 100%;
	height: 100vh;
}
 
#carousel div.gallery {
	position: relative;
	height: 100%;
}

#carousel div.gallery-cell {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#carousel div.content {
	height: 90%;
	display: flex;
	padding-right: 50px;
	padding-left: 50px;
	max-width: 1200px;
	margin: 0 auto;
	align-items: end;
	color: var(--text-color-light);
}

@media screen and (max-width:800px) {
	#carousel div.content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#carousel ol.flickity-page-dots {
	position: relative;
	top: -5%;
}

#carousel li.dot {
	background: hsla(0, 0%, 100%, 0.75);
}

main {
	padding-top: 0;
}

#carousel #slide1 {
	background-image: url('https://images2.alphacoders.com/509/thumb-1920-509099.jpg');
}

#carousel #slide2 {
	background-image: url('https://images7.alphacoders.com/782/782847.jpg');
}

#carousel #slide3 {
	background-image: url('https://images6.alphacoders.com/312/thumb-1920-312124.jpg');
}

#carousel #timeline {
	position: relative;
	top: -5px;
	height: 3px;
	background: var(--second-color);
	width: 33.33%;
	animation: 20s timeliner infinite;
	border-radius: 10px;
}

@keyframes slidy {
	0%,
	25%,
	100% {
		left: 0%;
	}
	33%,
	59% {
		left: -100%;
	}
	66%,
	93% {
		left: -200%;
	}
}

@keyframes timeliner {
	0%,
	25%,
	100% {
		margin-left: 0;
	}
	33%,
	59% {
		margin-left: 33.33%;
	}
	66%,
	93% {
		margin-left: 66.66%;
	}
}
