/* --------------------

   MODE SOMBRE
   -----------
   Paramètres des couleurs du mode sombre :
    - background-color pour la couleur de fond
    - color pour la couleur du texte
   
   ------------------*/

.dark {
	/*fond de page*/
	background-color: #020e35;
	color: #e2e2f2;
}

.dark header {
	/*barre de navigation en haut*/
	background-color: #0c55a8;
}

.dark nav a:hover {
	/*boutons des autres pages au passage de la souris*/
	background-color: #0f69cf;
}

.dark nav a.active {
	/*lien de la page ouverte*/
	background-color: #ca9834;
}

.dark nav a.active:hover {
	/*lien de la page ouverte au passage de la souris*/
	background-color: #e2aa3b;
}

.dark #boutonEnigme {
	/*le bouton énigme pour ouvrir une énigme*/
	background-color: #0c55a8;
}

.dark #boutonEnigme:hover {
	/*le bouton énigme quand on passe la souris dessus*/
	background-color: #0f69cf;
}

::selection {
	/*pour le texte qu'on sélectionne à la souris*/
	background-color: #4988d1;
	color: #f2f2f2;
}