/*-----------------------------
Style général du site, commun à toutes les pages
pour le mode jour
-------------------------------*/

body {
	/*Aspect général de la page*/
	background-color: #d7c3a5;
	font-family: "Trebuchet MS";
	margin: 0px;
	/*Code pour mettre une image de fond au lieu d'une couleur :
	background-image: url("Fond.jpg");
	background-attachment: fixed;
	background-size: cover;*/
}

main {
	/*contenu de la page (hors en-tête, pied de page, etc...)*/
	padding: 50px;
	margin: 0 auto;
	padding-top: 70px;
	max-width: 1200px;
}

footer {
	background-color: #e5ac39;
	padding: 0.3em 50px;
}

footer div {
	max-width: 1200px;
	margin: auto;
}

main a,
footer a {
	text-decoration: none;
	color: #7c290a;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

main a:hover,
footer a:not(.rs):hover {
	background-color: #882c0a;
	color: #f2f2f2;
}

footer a.rs svg {
	height: 1.5em;
	width: 1.5em;
	fill: #000000;
	margin-left: 0.3em;
}

footer a.rs:hover#facebook svg {
	fill: #1877f2;
}

footer a.rs:hover#youtube svg {
	fill: #ff1a1a;
}

::selection {
	/*couleur du texte quand on le sélectionne à la souris*/
	background-color: #872d0c;
	color: #f2f2f2;
}

#boutonEnigme {
	/*paramètres du bouton rond d'énigmes*/
	/*apparence*/
	background-color: #872d0c;
	width: 70px;
	height: 70px;
	border-radius: 200px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	/*position*/
	bottom: 20px;
	right: 20px;
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	/*animations*/
	transition: all 0.2s ease;
}

#boutonEnigme:hover {
	/*quand on passe la souris sur le bouton d'énigmes*/
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
	background-color: #99330e;
	transform: rotate(360deg);
}

#boutonEnigme img {
	/*paramètres de l'image du bouton énigme (le point d'interrogation)*/
	width: 50px;
	margin: auto;
}