body {
	/*background-image: url("Fond.jpg");
	background-attachment: fixed;
	background-size: cover;*/
	background: #d7c3a5;
	font-family: "Trebuchet MS";
	margin: 0px;
}

main {
	padding: 50px;
	margin: 0 auto;
}

::selection {
	background-color: #872d0c;
	color: #f2f2f2;
}


/* écran supérieur à 1000 px */

@media screen and (min-width: 1000px) {
	main {
		width: 1000px;
		margin: 0 auto;
	}
	nav {
		width: 1000px;
		margin: 0 auto;
	}
}


/*
header
{
    position:fixed;
	display: flex;
	justify-content: center;
	background: #000033;
	opacity:0.9;
	color: white;
    margin: none;
    width: 100%;
}

blockquote
{
	text-align: center;
	font-family: "Century Gothic";
	font-weight: bold;
	font-size: 1.5em;
	margin: 0px;
	margin-bottom: 20px;
}

.menu, .ouvert
{
	margin: 0px;
	color: white;
	text-decoration: none;
	padding: 15px;
    text-align :center;
}

.ouvert
{
	background-color: #222266
}

.menu:hover, .ouvert:hover
{
	background-color: white;
	opacity:0.9;
	color: #000033;
}

h1, hr
{
	color: green;
	text-align: center;
	font-size: 2em;
	text-shadow: 2px 2px 30px #111111;
}

h2
{
	font-family: "Georgia";
}

footer
{
	text-align: right;
}

footer a:hover
{
	border: solid 1px #FF6611;
	padding: 3px;
	background-color: #FF6611;
	color: white;
}

a
{
	color: #FF6611;
}

a[href*="http://"]
{
	color: darkRed;
}

a[href*="http://"]:hover
{
	border: solid 1px darkRed;
	padding-top: 3px;
    padding-bottom: 3px;
	background-color: darkRed;
	color: white;
}

*/