/* -----------------------------------------
 * PAR DEFAUT : VERSION MOBILE, MENU REDUIT
 * ----------------------------------------*/


/* la barre de navigation*/

header {
	/*barre rouge en haut de la page*/
	background-color: #872d0c;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}


/* les liens cliquables*/

nav a {
	/*liens généraux*/
	/*disposition : on les masque en mode mobile*/
	display: none;
	float: left;
	text-align: center;
	align-items: center;
	justify-content: center;
	/*marges et taille de la boîte*/
	padding: 5px 5px;
	height: 45px;
	/*mise en forme du texte*/
	color: #f2f2f2;
	text-decoration: none;
	font-size: 17px;
}

nav a.quick-access {
	/*on affiche les accès rapides à droite*/
	display: flex;
	float: right;
}

nav a#menu,
nav a.active {
	/* on affiche le menu et la page ative*/
	display: flex;
}

nav a:hover {
	/*mettre en surbrillance la case quand on passe la souris dessus*/
	background-color: #99330e;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

nav a.active {
	/*mettre en avant la case de la page ouverte*/
	background-color: #e5ac39;
	color: black;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

nav a.active:hover {
	/*quand on passe la souris sur la case de la page ouverte*/
	background-color: #fabc40;
}


/*les images*/

nav a div.icon {
	/*case carré qui contient l'icône*/
	/*taille de la case*/
	width: 45px;
	height: 45px;
	padding: 0px;
	margin: 0px 5px;
	/*positionnement de la case*/
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a.quick-access div.icon {
	/*case moins large pour l'accès rapide*/
	width: 30px;
}

nav a div.icon img {
	/*redimensionnement de l'image*/
	max-height: 45px;
	max-width: 45px;
	margin: auto;
}

nav a.quick-access div.icon img {
	/*redimensionnement pour les images de l'accès rapide*/
	max-height: 25px;
	max-width: 30px;
	margin: auto;
}


/*le texte des liens*/

nav a span {
	margin: 0 10px;
}


/*----------------------
  CAS MENU OUVERT
----------------------*/


/*les liens cliquables*/

nav.responsive a:not(.quick-access) {
	/*on aligne les éléments de chaque lien à gauche*/
	display: flex;
	float: none;
	text-align: left;
	justify-content: left;
}

nav.responsive a {
	box-shadow: none;
}


/*--------------------------------------------------
* VERSION ORDINATEUR : POUR DES ECRANS PLUS LARGES
* -------------------------------------------------*/


/* si la largeur de l'écran est supérieure à 800 px */

@media screen and (min-width: 900px) {
	/*barre de navigation : marges sur les bords*/
	nav {
		margin: 0 50px;
	}
	/*liens cliquables : on les affiche tous*/
	nav a {
		display: flex;
	}
	/*liens cliquables : on masque le bouton menu*/
	nav a#menu {
		display: none;
	}
	/*images : on les masque, sauf l'accès rapide et le titre*/
	nav a:not(.quick-access):not(#titre) div.icon {
		display: none;
	}
}


/* PARAMÈTRES COMMUNS */


/* logo Cerf'lock : doit dépasser dans tous les cas*/

nav a#titre div.icon img {
	max-width: none;
	max-height: none;
	height: 65px;
	overflow: visible;
	transform: translateY(-12px);
}