/* -----------------------------------------
 * PAR DEFAUT : VERSION MOBILE, MENU REDUIT
 * ----------------------------------------*/


/* la barre de navigation*/

header {
	/*barre rouge en haut de la page*/
	background-color: var(--first-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

nav {
	/*le contenu de la barre rouge, centré*/
	height: 2.8rem;
	max-width: 1200px;
	margin: 0 auto;
	transition: height 0.3s ease;
}


/* les liens cliquables*/

nav a {
	/*liens généraux*/
	/*disposition : on les masque en mode mobile*/
	display: none;
	float: left;
	align-items: center;
	text-decoration: none;
	/*marges et taille de la boîte*/
	padding: 0.3em;
	height: 2.8rem;
	font-size: 1em;
}

nav a.quick-access {
	/*on affiche les accès rapides à droite*/
	display: flex;
	float: right;
}

nav a#menu,
nav a#titre {
	/* on affiche le menu et la page ative*/
	display: flex;
}

nav a:hover {
	/*mettre en surbrillance la case quand on passe la souris dessus*/
	background-color: var(--first-color-lighter);
	/*ajouter une ombre au passage de la souris sur l'accès rapide*/
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

nav a.active {
	/*mettre en avant la case de la page ouverte*/
	background-color: var(--second-color);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

nav a.active:hover {
	/*quand on passe la souris sur la case de la page ouverte*/
	background-color: var(--second-color-lighter);
}

@media screen and (max-width:450px) {
	/*si l'écran n'est pas assez large pour afficher le titre
	nav a.active {
		display: none;
	}
	nav a#titre {
		display: flex;
	}*/
	nav a#titre span {
		display: none;
	}
}


/*les images*/

nav a div.icon {
	/*case carré qui contient l'icône*/
	/*taille de la case*/
	width: 2.8rem;
	height: 2.8rem;
	padding: 0;
	margin: 0 0.3rem;
	/*positionnement de la case*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

nav a.quick-access div.icon {
	/*case moins large pour l'accès rapide*/
	width: 1.9rem;
}

nav a div.icon img {
	/*redimensionnement de l'image*/
	max-height: 2rem;
	max-width: 2rem;
	margin: auto;
}

nav a.quick-access div.icon img {
	/*redimensionnement pour les images de l'accès rapide*/
	max-height: 1.5rem;
	max-width: 1.9rem;
	margin: auto;
	transition: transform .5s 0s;
}

nav a.quick-access:hover div.icon img {
	/*animation de rotation des boutons d'accès rapide*/
	transform: rotate(180deg);
}

nav a:hover div.icon img {
	/*icônes éclairées quand on passe la souris*/
	filter: brightness(1.2);
}

.dark nav a:hover div.icon img {
	/*icônes éclairées quand on passe la souris*/
	filter: brightness(1.2) grayscale(0.2);
}

nav a#titre div.icon img {
	/* logo Cerf'Lock qui dépasse de sa case*/
	max-width: none;
	max-height: none;
	height: 4.2rem;
	overflow: visible;
	transform: translateY(-0.8rem);
}


/*le texte des liens*/

nav a span {
	/*mise en forme du texte*/
	color: var(--text-color-light);
	text-decoration: none;
	font-size: 1.3em;
	font-family: 'Grenze', serif;
	font-weight: 300;
	margin: 0 0.7rem;
	position: relative;
	text-decoration: none;
}

nav a#titre span {
	font-family: 'Grenze Gotisch', 'Grenze', serif;
}

nav a.active span {
	color: var(--text-color-dark);
}

nav a span::after {
	/*rétrécissement de la ligne de soulignment*/
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0.4rem) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 1px;
	background-color: var(--text-color-light);
	opacity: 0;
	transition: all 250ms;
}

nav a.active span::after {
	/*changement de couleur pour la case active*/
	background-color: var(--text-color-dark);
}

nav a:hover span::after {
	/*création du soulignement au passage de la souris*/
	transform: translate(-50%, -0.05rem) scaleX(1);
	opacity: 0.7;
}


/*----------------------
  CAS MENU OUVERT
----------------------*/

@media screen and (max-width: 800px) {
	/* le menu ne s'ouvre que si on est en mode mobile*/
	nav.responsive {
		/*on allonge la barre rouge d'en-tête*/
		height: 20.4rem;
		max-height: 100vh;
		overflow: auto;
	}
	nav.responsive a:not(.quick-access) {
		/*on aligne les éléments de chaque lien à gauche*/
		display: flex;
		float: none;
	}
	nav.responsive a {
		/*on annule les ombres*/
		box-shadow: none;
	}
	nav.responsive a#titre span {
		/*on raffiche les textes*/
		display: flex;
	}
}


/*--------------------------------------------------
* VERSION ORDINATEUR : POUR DES ECRANS PLUS LARGES
* -------------------------------------------------*/


/* si la largeur de l'écran est supérieure à 800 px */

@media screen and (min-width: 800px) {
	/*liens cliquables : on les affiche tous*/
	nav a {
		display: flex;
	}
	/*liens cliquables : on masque le bouton menu*/
	nav a#menu {
		display: none;
	}
	/*images : on les masque, sauf l'accès rapide et le titre*/
	nav a:not(.quick-access):not(#titre) div.icon {
		display: none;
	}
	/*logo cerflock plus gros*/
	nav a#titre div.icon img {
		height: 5rem;
		transform: translate(0.1rem, -1.2rem);
	}
}