<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


	<link rel="icon" href=data/logo.png />
	<title>Cerflock Holmes</title>
</head>

<body>

	<div id="app">
		<!-- à l'interieur de cette div, tout est géré par vue -->
		<v-app>
			<v-main>
				<nav>
					<v-app-bar flat app color="#9cc0d8">

						<v-btn depressed large text router to='/'>
							<v-toolbar-title class="text-uppercase white--text">
								Sex on the Biche
							</v-toolbar-title>
						</v-btn>

						<v-spacer></v-spacer>


						<v-btn depressed text color="white" router to='/members'>

							Membres
						</v-btn>

						<v-btn depressed text color="white" router to='/events'>

							évènements
						</v-btn>

						<v-btn depressed text color="white" router to='/reseau'>

							réseaux
						</v-btn>

					</v-app-bar>


				</nav>
				<router-view></router-view>



				<!-- <p class="my-6">Login : <input type="text" v-model="user" /> Vous etes connnecté en tant que {{user}} </p> -->


			</v-main>
		</v-app>
	</div>

	<script type="text/x-template" id="members">
		<div>

		<h1 class="display-2 text-center">Les Membres <br />Confinés</h1>
    <v-row>
        <v-col cols="12" sm="6" md="4" v-for="person in members" v-bind:key="person.name">
            <v-card class="text-center ma-3 pa-3" flat>
                        
                        <v-row>
                            
                            <v-col cols="12">
                                <v-responsive class="pt-4">
                                    
                                        <img v-bind:src="person.img" alt="" width="200">
                                    
                                </v-responsive>
                                <h1 class="title"> {{person.name}} </h1>
                                <div class="mt-10"> {{person.description}}</div>
                            </v-col>

                            
                        </v-row>
                    </v-card>
        </v-col>
		</v-row>	
	</div>
</script>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="js/vue.js"></script>

</body>

</html>